{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Flexible Working Area BPS 3316</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    
    
</head>

<body>      
    <!-- Modal -->
    <div id="coordinates"></div>
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackModalTitle">Feedback</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="feedbackModalBody">
                    <!-- Pesan akan dimasukkan di sini -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>



    <div id="loading-overlay" style="display: none;">
        <div class="spinner"></div>
    </div>

    <div id="map">
    

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 

    <!--Bootstrap & Popper-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <!--Popper-->
    <script src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet-src.js"></script>
    

    <script type="text/javascript">
        const staticUrl = "{% static 'img/' %}";
    </script>
    <script src='{% static "js/addmejakursi.js" %}' type="text/javascript"></script>
    <script type="text/javascript">

        







        // Gaya default untuk elemen
        const styles = {
            footprint: { color: 'black', opacity: 1, weight: 1, fillColor: 'white', fillOpacity: 1 },
            wall: { color: '#5b5b5b', opacity: 1, weight: 4, fillColor: 'none', fillOpacity: 1 },
            door: { color: '#b8b8b8', opacity: 1, weight: 2, fillColor: 'none', fillOpacity: 1 },
            deskarea: { color: '#c6cc18', opacity: 1, weight: 2, fillColor: '#ffffc4', fillOpacity: 1 },
            booked: { color: '#148f29', opacity: 1, weight: 3, fillColor: '#22d437', fillOpacity: 1 },
            highlight: { color: '#000480', weight: 12, opacity: 1},
            highlightbooked: { color: '#000480', weight: 12, opacity: 1 }, // Gaya untuk meja yang sudah terbooking
            unusedspace: { color: '#9c9c9c', opacity: 1, weight: 2, fillColor: '#9c9c9c', fillOpacity: 1 },
        };

        // Fungsi untuk membuat poligon Leaflet
        function createPolygon(coords, style) {
            return L.polygon(coords, style);
        }

        // Fungsi untuk membuat garis Leaflet
        function createPolyline(coords, style) {
            return L.polyline(coords, style);
        }

        // Polygon denah lantai 1
        const L1footprint = createPolygon(
            [
                [0, 0],
                [150, 0],
                [150, 120],
                [0, 120],
            ],
            styles.footprint
        );

        // Polygon denah lantai 2
        const L2footprint = createPolygon(
            [
                [0, 144],
                [150, 144],
                [150, 264],
                [0, 264],
            ],
            styles.footprint
        );


        // Polygon tembok lantai 1
        const L1wall = createPolyline(
            [
                [[0, 0], [66, 0], [66, -6], [78, -6], [78, 0], [150, 0], [150, 120], [0, 120],[0,0]],
                [[54,66],[54,42],[64,42]],
                [[18, 60], [54, 60]],
                [[54, 75], [54, 120]],
                [[0, 42], [18, 42], [18, 60], [9, 60]],
                [[84, 120], [84, 96], [111, 96]],
                [[102, 120], [102, 96]],
                [[120, 120], [120, 96]],
                [[129, 96], [150, 96]],
                [[84, 33], [84, 0]],
                [[84, 75], [84, 42], [141, 42]],
                [[132, 84], [84, 84]],
                [[138, 84], [150, 84]],
                [[132, 84], [132, 96]],
            ],
            styles.wall
        );

        // Polygon tembok lantai 2
        const L2wall = createPolyline(
            [
                //perimeter
                [[0,144], [150,144], [150,264], [0,264], [0,144]], 
                //teknis
                [[84,144], [84,180], [54,180], [54,209]], [[54,219], [54,264]],
                //ruang laktasi
                [[72,180], [72,198], [63,198]],
                //gudang tu
                [[84,180], [84,192]], [[84,198], [72,198]],
                //tata usaha
                [[84,198], [84,219]], [[84,228], [150,228]],
                //mushola
                [[141,240], [120,240], [120,264]],
                //kamar mandi atas
                [[93,240], [102,240], [102,264]], [[84,264], [84,240]], [[102,240], [120,240]],

            ],
            styles.wall
        );


        const L1pst = L.polygon(
                [[0,0], [0,42], [18,42], [18,0]],
            styles.footprint).bindTooltip("Ruang PST", {permanent: true, direction:"top", className: 'roomstooltip'});

        const L1ipds = L.polygon(
                [[84,42], [84,84], [150,84], [150,42]],
            styles.footprint).bindTooltip("Ruang TI", {permanent: true, direction:"top", className: 'roomstooltip'});

        const L1pengolahan = L.polygon(
                [[84,0], [84,42], [150,42], [150,0]],
            styles.footprint).bindTooltip("Ruang Pengolahan", {permanent: true, direction:"bottom", className: 'roomstooltip'});

        const L2tu = L.polygon(
                [[84,144], [84,228], [150,228], [150,144]],
            styles.footprint).bindTooltip("Ruang Umum", {permanent: true, direction:"left", className: 'roomstooltip'});

        const L2teknis = L.polygon(
                [[0,144], [0,264], [54,264], [54,180], [84,180], [84,144]],
            styles.footprint).bindTooltip("Ruang Teknis", {permanent: true, direction:"center", className: 'roomstooltip'});

        const tooltipPolygons = [L1pst, L1ipds, L1pengolahan, L2tu, L2teknis];

        const L1unused = L.polygon(
                [
                    [[84,0], [84,42], [150,42], [150,0]],
                    [[0,0], [0,120], [150,120], [150,96], [132,96], [132,84], [84,84], [84,0]],
                ],
            styles.unusedspace);
        const L2unused = L.polygon(
                [
                    [[54,180], [54,264], [150,264], [150,228], [84,228], [84,180]],
                ],
            styles.unusedspace);
        
        // Polygon pintu lantai 1
        const L1door = createPolyline(
            [

                [[84,33], [84,42]],
                [[84,75], [84,84]],
                [[141,42], [150,42]],
                [[54,66], [54,75]],
                [[132,84], [138,84]],
                [[129,96], [120,96]],
                [[120,96], [111,96]],
                [[0,60], [9,60]],
            ],
            styles.door
        );

        // Polygon pintu lantai 2
        const L2door = createPolyline(
            [
                //teknis
                [[54,219], [54,209]],
                //laktasi
                [[54,198], [63,198]],
                //tu
                [[84,228], [84,219]],
                //gudang tu
                [[84,198], [84,192]],
                //kamar mandi atas
                [[84,240], [93,240]],
                //mushola
                [[141,240], [150,240]],
            ],
            styles.door
        );


         // Gabungan layer lantai 1
        const L1 = L.layerGroup([L1footprint, L1unused, L1pst, L1ipds, L1pengolahan, L1door, L1wall, L1table, L1chair,
                        ]);
        const L2 = L.layerGroup([L2footprint, L2unused, L2tu, L2teknis, L2door, L2wall, L2table, L2chair,]);



        // Buat pane khusus untuk gambar meja
        const map = L.map('map', {
            crs: L.CRS.Simple,
            minZoom: 0,
            maxZoom: 4
        });

        map.createPane('tablePane');
        map.getPane('tablePane').style.zIndex = 650;

        map.createPane('chairPane');
        map.getPane('chairPane').style.zIndex = 650;

        map.createPane('tooltipPane');
        map.getPane('tooltipPane').style.zIndex = 1000;

        map.createPane('highlightPane');
        map.getPane('highlightPane').style.zIndex = 900; 


    //Poligon Area Reservasi Bangku
    //IPDS
        const deskAreas = [
            // PST
            { coords: [[1, 1], [1, 17], [17, 17], [17, 1]], label: "pelayanan", occupant: null },
            { coords: [[1, 25], [1, 41], [17, 41], [17, 25]], label: "pengaduan", occupant: null },

            // IPDS
            { coords: [[85, 42.5], [85, 55.5], [98, 55.5], [98, 42.5]], label: "ipds-1", occupant: null },
            { coords: [[100, 42.5], [113, 42.5], [113, 55.5], [100, 55.5]], label: "ipds-2", occupant: null },
            { coords: [[115, 42.5], [128, 42.5], [128, 55.5], [115, 55.5]], label: "ipds-3", occupant: null },
            { coords: [[136.5, 56.5], [136.5, 69.5], [149.5, 69.5], [149.5, 56.5]], label: "ipds-4", occupant: null },
            { coords: [[136.5, 69.5], [136.5, 82.5], [149.5, 82.5], [149.5, 69.5]], label: "ipds-5", occupant: null },

            //PENGOLAHAN
            { coords: [[90, 1], [90, 13], [100, 13], [100, 1]], label: "pengolahan-1", occupant: null },
            { coords: [[100, 1], [100, 13], [110, 13], [110, 1]], label: "pengolahan-2", occupant: null },
            { coords: [[110, 1], [110, 13], [120, 13], [120, 1]], label: "pengolahan-3", occupant: null },
            { coords: [[120, 1], [120, 13], [130, 13], [130, 1]], label: "pengolahan-4", occupant: null },
            { coords: [[130, 1], [130, 13], [140, 13], [140, 1]], label: "pengolahan-5", occupant: null },
            { coords: [[138, 16], [138, 26], [149, 26], [149, 16]], label: "pengolahan-6", occupant: null },
            { coords: [[138, 26], [138, 36], [149, 36], [149, 26]], label: "pengolahan-7", occupant: null },
            { coords: [[115, 27], [115, 40], [128, 40], [128, 27]], label: "pengolahan-8", occupant: null },
            { coords: [[100, 27], [100, 40], [113, 40], [113, 27]], label: "pengolahan-9", occupant: null },

            // Teknis Selatan
            { coords: [[0.5, 145], [13.5, 145], [13.5, 158], [0.5, 158]], label: "teknis-1", occupant: null },
            { coords: [[0.5, 173.5], [13.5, 173.5], [13.5, 186.5], [0.5, 186.5]], label: "teknis-3", occupant: null },
            { coords: [[0.5, 188.5], [13.5, 188.5], [13.5, 201.5], [0.5, 201.5]], label: "teknis-4", occupant: null },
            { coords: [[0.5, 206.5], [13.5, 206.5], [13.5, 219.5], [0.5, 219.5]], label: "teknis-5", occupant: null },
            { coords: [[0.5, 221.5], [13.5, 221.5], [13.5, 234.5], [0.5, 234.5]], label: "teknis-6", occupant: null },
            { coords: [[0.5, 250], [13.5, 250], [13.5, 263], [0.5, 263]], label: "teknis-8", occupant: null },

            // Cubicle Teknis Grup 1
            { coords: [[20, 145], [20, 158], [33, 158], [33, 145]], label: "teknis-9", occupant: null },
            { coords: [[20, 158], [20, 171], [33, 171], [33, 158]], label: "teknis-10", occupant: null },
            { coords: [[33, 158], [33, 171], [46, 171], [46, 158]], label: "teknis-11", occupant: null },
            { coords: [[33, 145], [33, 158], [46, 158], [46, 145]], label: "teknis-12", occupant: null },

            // Cubicle Teknis Grup 2
            { coords: [[20,173],[20,186],[33,186],[33,173]], label: "teknis-13", occupant: null }, 
            { coords: [[20,186],[20,199],[33,199],[33,186]], label: "teknis-14", occupant: null }, 
            { coords: [[33,186],[33,199],[46,199],[46,186]], label: "teknis-15", occupant: null }, 
            { coords: [[33,173],[33,186],[46,186],[46,173]], label: "teknis-16", occupant: null },  


            // Cubicle Teknis Grup 3
            { coords: [[20,209],[20,222],[33,222],[33,209]], label: "teknis-17", occupant: null }, 
            { coords: [[20,222],[20,235],[33,235],[33,222]], label: "teknis-18", occupant: null }, 
            { coords: [[33,222],[33,235],[46,235],[46,222]], label: "teknis-19", occupant: null }, 
            { coords: [[33,209],[33,222],[46,222],[46,209]], label: "teknis-20", occupant: null },


            // Cubicle Teknis Grup 4
            { coords: [[20,237],[20,250],[33,250],[33,237]], label: "teknis-21", occupant: null }, 
            { coords: [[20,250],[20,263],[33,263],[33,250]], label: "teknis-22", occupant: null }, 
            { coords: [[33,250],[33,263],[46,263],[46,250]], label: "teknis-23", occupant: null }, 
            { coords: [[33,237],[33,250],[46,250],[46,237]], label: "teknis-24", occupant: null },


            // AREA TU
            { coords: [[125.5,152.5], [125.5,171.5], [138.5,171.5], [138.5,152.5]], label: "tu-1", occupant: null },
            { coords: [[126, 197], [126, 210], [139, 210], [139, 197]], label: "tu-2", occupant: null },
            { coords: [[126, 210], [126, 223], [139, 223], [139, 210]], label: "tu-3", occupant: null },
            { coords: [[113, 210], [113, 223], [126, 223], [126, 210]], label: "tu-4", occupant: null },
            { coords: [[113, 197], [113, 210], [126, 210], [126, 197]], label: "tu-5", occupant: null },
            { coords: [[91, 174], [91, 187], [104, 187], [104, 174]], label: "tu-6", occupant: null },
            { coords: [[91, 161], [91, 174], [104, 174], [104, 161]], label: "tu-7", occupant: null }

            ];
        
            // const penghuniData = {{ penghuni_data|safe }};
            // deskAreas.forEach(area => {
            //     if (penghuniData[area.label]) {
            //         area.occupant = penghuniData[area.label]; // Menambahkan penghuni ke dalam deskArea
            //     }
            // });

  
        



    //HIGHLIGHT DESK AREA
        // Fungsi untuk menambahkan tooltip dan event
        const deskLayer = L.layerGroup();

        deskAreas.forEach(desk => {
            // Tentukan style berdasarkan status occupant
            const currentStyle = desk.occupant === null ? styles.deskarea : styles.booked;
            const currentHighlight = desk.occupant === null ? styles.highlight : styles.highlightbooked;
            const tooltipContent = desk.occupant === null 
                ? desk.label 
                : `${desk.label} : <strong>${desk.occupant}</strong>`;

            // Membuat polygon untuk meja
            const polygon = L.polygon(desk.coords, currentStyle)
                .bindTooltip(tooltipContent, {
                    permanent: false,
                    sticky: true,
                    direction: "center",
                    offset: L.point(0, 0),
                    className: 'tooltipclass',
                    pane: 'tooltipPane'
                })
                .on('mouseover', function () {
                    this.setStyle(currentHighlight);
                    this.bringToFront();
                })
                .on('mouseout', function () {
                    const finalStyle = desk.occupant === null ? styles.deskarea : styles.booked;
                    this.setStyle(finalStyle);
                })
                .on('click', function () {
                    if (desk.occupant === null) {
                        // Jika meja kosong, beri opsi reservasi
                        const content = `
                            <div class="text-center">
                                <h5 id="deskLabel"><strong>${desk.label}</strong></h5>
                                <p>Meja tersedia untuk reservasi.</p>
                                <input type="text" id="nameInput" class="form-control mb-2" placeholder="Masukkan Token">
                                <button class="btn btn-primary btn-sm" id="reserveButton">Reservasi</button>
                            </div>
                        `;
                        this.bindPopup(content).openPopup();

                        
                    } else {
                        // Jika meja sudah terisi, tampilkan siapa yang memesan
                        const content = `
                            <div class="text-center">
                                <h5 id="deskLabel"><strong>${desk.label}</strong></h5>
                                <p>Meja ini sudah dipesan oleh <strong>${desk.occupant}.</strong></p>
                            </div>
                        `;
                        this.bindPopup(content).openPopup();
                    }
                });
            polygon.deskData = desk;
            deskLayer.addLayer(polygon);
        });

        

      




       









        // Inisialisasi peta
        map.addLayer(L1);
        map.addLayer(L2);
        map.addLayer(deskLayer);

        map.setView([75, 160], 2);
        
        L.Control.legend = L.Control.extend({
            onAdd: function(map) {
                var div = L.DomUtil.create('div', 'map-legend leaflet-control');
        
                div.innerHTML = `
                    <div class="card">
                        <div class="card-header p-1 d-flex align-items-center bg-yellow text-dark">
                            <p class="mb-0 fw-bold">Sireja (Sistem Reservasi Meja) BPS Kabupaten Blora</p>
                            <button class="btn btn-sm btn-outline-primary ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#legendContent" aria-expanded="true" aria-controls="legendContent">
                                ▼
                            </button>
                        </div>
                        <div id="legendContent" class="collapse show">
                            <div class="card-body">
                                <p class="m-0"><strong>Cara Reservasi:</strong></p>
                                <ol class="mb-0">
                                    <li>Arahkan cursor/Pilih pada meja yang tersedia untuk di reservasi (area kuning)</li>
                                    <li><strong>Area meja yang berwarna hijau</strong> berarti sudah ada pegawai yang mereservasi meja tersebut</li>
                                    <li>Masukkan token reservasi <strong>(setiap pegawai memiliki token sendiri-sendiri)</strong></li>
                                    <li>Klik tombol <strong>"Reservasi"</strong> untuk melakukan reservasi meja</li>
                                    <li>Reservasi hanya bisa dilakukan pada <strong>rentang waktu 07.00-13.00 WIB</strong></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <!-- Collapsible Tambahan untuk Pengaturan -->
                    <div class="card mt-2">
                        <div class="card-header p-1 d-flex align-items-center bg-yellow text-dark">
                            <p class="mb-0 fw-bold">Pengaturan Peta</p>
                            <button class="btn btn-sm btn-outline-primary ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#settingContent" aria-expanded="false" aria-controls="settingContent">
                                ▼
                            </button>
                        </div>
                        <div id="settingContent" class="collapse">
                            <div class="card-body p-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="toggleLabel">
                                    <label class="form-check-label" for="toggleLabel">Tampilkan Label Ruangan</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="togglenamapegawai">
                                    <label class="form-check-label" for="togglenamapegawai">Tampilkan Label Nama Pegawai</label>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
        
                return div;
            },
        
            onRemove: function(map) {
                // Tidak perlu melakukan apa-apa saat dihapus
            }
        });
        
        L.control.legend = function(opts) { return new L.Control.legend(opts); }
        L.control.legend({ position: 'topright' }).addTo(map);
        
        document.getElementById('toggleLabel').checked = true;
        tooltipPolygons.forEach(polygon => polygon.openTooltip());
        
        document.getElementById('toggleLabel').addEventListener('change', function (e) {
            tooltipPolygons.forEach(polygon => {
                if (e.target.checked) {
                    polygon.openTooltip(); // Tampilkan tooltip
                } else {
                    polygon.closeTooltip(); // Sembunyikan tooltip
                }
            });
        });




        document.getElementById('togglenamapegawai').addEventListener('change', function (e) {
            deskLayer.eachLayer(polygon => {
                const desk = polygon.deskData;
                const tooltipContent = desk.occupant === null 
                    ? desk.label 
                    : `${desk.label} : <strong>${desk.occupant}</strong>`;

                polygon.unbindTooltip();

                polygon.bindTooltip(tooltipContent, {
                    permanent: e.target.checked,
                    sticky: true,
                    direction: "center",
                    offset: L.point(0, 0),
                    className: 'tooltipclass',
                    pane: 'tooltipPane'
                });
            });
        });






        // Koordinat titik pusat (misalnya lokasi kantor)
        const kantorLat = -6.96898137292453;  // Ganti dengan koordinat kamu
        const kantorLng = 111.42490437746775;
          
        // Fungsi hitung jarak dengan rumus haversine
        function hitungJarak(lat1, lon1, lat2, lon2) {
            const R = 6371e3; // radius bumi dalam meter
            const φ1 = lat1 * Math.PI / 180;
            const φ2 = lat2 * Math.PI / 180;
            const Δφ = (lat2 - lat1) * Math.PI / 180;
            const Δλ = (lon2 - lon1) * Math.PI / 180;

            const a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
                      Math.cos(φ1) * Math.cos(φ2) *
                      Math.sin(Δλ/2) * Math.sin(Δλ/2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

            const jarak = R * c; // dalam meter
            return jarak;
        }

        function getUserCoordinate() {
          return new Promise((resolve, reject) => {
            if ("geolocation" in navigator) {
              const watchId = navigator.geolocation.watchPosition(
                (position) => {
                  navigator.geolocation.clearWatch(watchId); // hentikan setelah dapat data pertama
                  resolve({
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude,
                  });
                },
                (error) => {
                  reject(`Gagal mendapatkan lokasi: ${error.message}`);
                },
                {
                  enableHighAccuracy: true,
                  timeout: 10000,
                  maximumAge: 0
                }
              );
            } else {
              reject("Geolocation tidak didukung oleh browser ini.");
            }
          });
        }

        // Fungsi utama: ambil koordinat user dan hitung jarak ke kantor
        async function hitungJarakKeKantor() {
          try {
            const userCoords = await getUserCoordinate();
            const jarak = hitungJarak(
              userCoords.latitude,
              userCoords.longitude,
              kantorLat,
              kantorLng
            );
            return jarak;
          } catch (error) {
            throw new Error("Gagal mendapatkan lokasi: " + error);
          }
        }


    // Event klik pada tombol reservasi
        $(document).on('click', '#reserveButton', async function () {
            var tokenInput = $("#nameInput").val();
            var deskInput = $("#deskLabel").text();
            var distanceInput;
            var userCoords;

            try {
                userCoords = await getUserCoordinate(); // ambil koordinat
                distanceInput = hitungJarak(
                    userCoords.latitude,
                    userCoords.longitude,
                    kantorLat,
                    kantorLng

                );

                alert(
                    `Jarak ke kantor: ${distanceInput.toFixed(2)} m\n` +
                    `Koordinat Anda: (${userCoords.latitude.toFixed(6)}, ${userCoords.longitude.toFixed(6)})`
                );
            } catch (error) {
                alert(error.message);
                return; // hentikan jika gagal ambil lokasi
            }

            $("#loading-overlay").fadeIn();
            $.ajax({
                
                url:"{% url 'reserveDesk' %}",
                type:'post',
                data:{
                    'token':tokenInput,
                    'desk':deskInput,
                    'distance':distanceInput,
                    'csrfmiddlewaretoken':"{{csrf_token}}"
                },
                dataType:'json',
                success:function(res){
                    var json_data=res.penghuni_data;
                    deskAreas.forEach(area => {
                        if (json_data[area.label]) {
                            area.occupant = json_data[area.label]; // Menambahkan penghuni ke dalam deskArea
                            
                            // Temukan polygon yang sesuai dengan meja ini dan update gaya
                            deskLayer.eachLayer(function(layer) {
                                if (layer instanceof L.Polygon) {
                                    // Cek apakah label desk sesuai
                                    if (layer.getTooltip() && layer.getTooltip().getContent() === area.label) {
                                        const updatedStyle = area.occupant === null ? styles.deskarea : styles.booked;
                                        layer.setStyle(updatedStyle); // Update gaya meja


                                        // Update tooltip content
                                        const newTooltipContent = area.occupant === null
                                            ? area.label
                                            : `${area.label} : <strong>${area.occupant}</strong>`;
                                        layer.setTooltipContent(newTooltipContent); // Update tooltip
                                    }
                                }
                            });


                            map.closePopup();   
                            // Tampilkan modal dengan pesan feedback
                            if (res.status === 'success') {
                                showModal('Berhasil', res.message, 'success');
                            } else {
                                showModal('Gagal', res.message, 'error');
                            }
                        }
                    });
                },
                error: function (xhr, status, error) {
                    showModal('Kesalahan', 'Terjadi kesalahan saat memproses reservasi. Silakan coba lagi.', 'error');
                    console.log("Error saat melakukan reservasi:", error);
                },
                complete: function () {
                    $("#loading-overlay").fadeOut();
                }
            });
        });







        function showModal(title, message, type) {
            // Atur judul modal
            $("#feedbackModalTitle").text(title);

            // Atur isi pesan modal
            $("#feedbackModalBody").text(message);

            // Tambahkan kelas berdasarkan tipe (success/error)
            const modalClass = type === 'success' ? 'text-success' : 'text-danger';
            $("#feedbackModalBody").removeClass('text-success text-danger').addClass(modalClass);

            // Tampilkan modal
            $("#feedbackModal").modal('show');
        }


        // Ambil elemen untuk menampilkan koordinat
        var coordinatesDiv = document.getElementById('coordinates');

        // Event listener untuk mendapatkan koordinat saat kursor bergerak
        map.on('mousemove', function(e) {
            var lat = e.latlng.lat.toFixed(5);
            var lng = e.latlng.lng.toFixed(5);
            coordinatesDiv.innerHTML = `Latitude: ${lat}, Longitude: ${lng}`;
        });

        // Tambahkan teks default saat kursor tidak di atas peta
        map.on('mouseout', function() {
            coordinatesDiv.innerHTML = 'Hover over the map to see coordinates.';
        });
    </script>


</body>
</html> 
